body{
    background-color: rgb(40, 40, 40);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.perfil{
    background-color: aqua;
    display: flex;

    padding: 2%;
    align-items: center;
    justify-content: space-around;
}
.card{
    background-color: blue;
    height: 200px;
    width: 200px;

    cursor: pointer;

    transition: 0.3s;

    border-radius: 10px;
}
.card:hover{
    transform: scale(1.05);
}
.container{
    text-align: center;
    background-color: red;
    width: 60%;
}